{% extends 'products/product_base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/About.css' %}">
<link rel="icon" href="{% static '/images/landingpage-images/Pricedout2.svg' %}" type="image/svg">
<title>PricedOut | About Us</title>
{% endblock css %}

{% block pattern_div %}
<body>
    <header>
        {% include 'products/navlinks.html' %}
    </header>
{% endblock pattern_div %}

{% block content %}
    <main>
        <div class="stripes">
            <img src="{% static '/images/landingpage-images/long.svg' %}" alt="stripes">
            <img src="{% static '/images/landingpage-images/medium.svg' %}" alt="stripes">
            <img src="{% static '/images/landingpage-images/short.svg' %}" alt="stripes">
            <img src="{% static '/images/aboutpage-images/extraline.svg' %}" alt="stripes">
        </div>

       <div class="text1"> 
            <div class="solo">
                <img src="{% static '/images/aboutpage-images/solo.svg' %}" alt="solo" class="solo">
            </div>  
            <div class="about">
                    <h1>
                        <span class="bold"> About </span> Us
                    </h1>

                    <div class="p1">
                        <p>
                                Priced Out serves as a web platform connecting smart and savvy shoppers <br>
                                with the products they enjoy, at competitive prices.
                        </p>
                     </div>
                     <div class="p2">
                        <p>
                                We're ensuring our members can easily view and compare some of the best <br>
                                products on the market on two of the world's largest ecommerce websites - <br>
                                Amazon and E-bay. 
                        </p>
                     </div>
                     <div class="p3">
                        <p>
                                We understand the importance of our member's buying decisions, and we <br>
                                provide a space to discover products they love, share them with a friend or <br>
                                family and find value in the goods they invest in.
                        </p>
                     </div>
            </div>
        </div>

       <div class="text2">
           <div class="duo">
                <img src="{% static '/images/aboutpage-images/duo.svg' %}" alt="duo" class="duo">
           </div> 
            <div class="how">
                    <h1>
                        <span class="bold"> How</span> to Use
                    </h1>
                <div class="sign">
                    <img src="{% static '/images/aboutpage-images/pen.svg' %}" alt="pen">
                    <p>
                    1. <span class="bold">Sign-up</span>
                        on our Priced out homepage by clicking on the get <br>
                        started button. Or, if you'd like to search for products on <br>
                        the fly, click on a product tile on the homepage. <br>
                    </p>
                </div>
                <div class="compare">
                    <img src="{% static '/images/aboutpage-images/tag.svg' %}" alt="tag">
                    <p>
                    2.  <span class="bold">Compare</span>
                        the price and details of products you care about <br>
                        across Amazon and E-bay. <br>
                    </p>
                </div>
                <div class="comment">
                    <img src="{% static '/images/aboutpage-images/thumbs.svg' %}" alt="thumbs">
                    <p>
                    3. <span class="bold">Comment</span>,
                        like, and share the products you're considering on <br>
                        your personal social media platforms to connect with family <br>
                        or friends.
                    </p>
                </div>
            </div>
        </div>
    </main>

    <footer>
    </footer>
{% endblock content %}