<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="icon" href="{% static '/images/contact-images/PricedOut___1_-removebg-preview 2.png' %}" type="image/svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
</head>
<body>
<header class="header1">
    {% include 'products/navlinks.html' %}
</header>
<div class="messages" style="text-align: center;">
    {% for message in messages %}
    <p {% if message.tags %} class="{{ message.tags }}" {% endif %}><strong>{{ message }}</strong></p>
    {% endfor %}
</div>
<Section class="Main">
    <div class="touch"><h4>Get In Touch</h4></div>
    <div class="main-content">
        <div class="card">
            <form class="form" action="{% url 'save_message' %}" method="POST">
                {% csrf_token %}
                <h5>Leave us a message</h5>
                <div class="floating">
                    <input id="name" class="floating_input" name="name" type="text" placeholder="Name" required>
                    <label for="name" class="floating_label" data-content="Name"> <span class="hidden"> Name </span></label>
                </div>

                <div class="floating">
                    <input id="email" class="floating_input" name="email" type="email" placeholder="Email Address" required>
                    <label for="email" class="floating_label" data-content="Email"> <span class="hidden"> Email Address </span></label>
                </div>

                <div class="floating" id="float">
                    <input id="message" class="floating_input" name="message" type="text" placeholder=" Your Message" required>
                    <label for="message" class="floating_label" data-content="message"> <span class="hidden"> Your Message </span></label>
                </div>

                <input class="send-btn" type="submit" value="Submit">
            </form>
        </div>
        <div class="address">
            <p>5439 Land of Milk & Honey Blvd
                <span>Suite 112</span>
                <span>Atlanta, GA 30303 </span> <br>
                <span class="contact"> 1(219) 867-5309</span><br><br>
                <span class="contact">CustomerHelp@RandomShop.com</span>
            </p>
            <img src="{% static '/images/contact-images/Rectangle 19.svg' %}" alt="">
        </div>
    </div>
</Section>

<footer>
    <div class="ft">
        <div class="qlinks ">
            <ul>
                <dl>Quick Links</dl>
                <li><a href="{% url 'signup' %}">Register</a></li>
                <li><a href="{% url 'signup' %}">Login</a></li>
            </ul>
        </div>

        <div class="others">
            <ul>
                <dl>Others</dl>
                <li><a href="{% url 'faq' %}">User FAQs</a></li>
                <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
                <li><a href="#">Legal</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms and Conditions</a></li>
            </ul>
        </div>

        <div class="products">
            <ul>
                <dl>Products</dl>
                <li><a href="{% url 'products:add_product' %}">Review</a></li>
                <li><a href="{% url 'products:product_list' %}">Compare</a></li>
                <li><a href="#">Buy</a></li>
            </ul>
        </div>

        <div class="subscribe">
            <p>Subscribe to our newsletter and be the first to <span>know about our updates </span></p>
            <div class="sub">
                <div class="email">
                    <input id="input_email1" class="floating_input1" name="email Address" type="email"
                           placeholder="Email Address">
                </div>
                <button>Subscribe</button>
            </div>

        </div>

    </div>
    <div class="copyright">
        <p>Copyright 2020. All rights reserved</p>
        <i class="fab fa-youtube"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
    </div>

</footer>
</body>
</html>