<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup
    </title>
    <link rel="icon" href="images/register_images/PricedOut___1_-removebg-preview 2.png" type="image/svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'signup.css' %}">
</head>
<body>
    <header class="header1">
        <nav class = "navBar">
            <ul class = "navLinks">
                <li><a href="/index.html">Home</a></li>
                <li><a href="/about.html">About Us</a></li>
                <li><a href="/Product.html">Products</a></li>
                <li><a href="/faq.html">FAQS</a></li>
                <li><a href="/Contact.html">Contact Us</a></li>
                <li><a href="/signup.html">Register</a></li>
            </ul>
        </nav>
    </header>
    <Section class="Main">
        {% if messages %}
                
                        {% for message in messages %}
                        <div class="alert alert-info">
                            {{ message }}
                        </div>
                        {% endfor %}
                  
                    {% endif %}
        
        <div class="main-content">
            <div class="card">
                <div class="rg"><h1>Register Here</h1></div>
                <Div class="form" >
                    <div class="floating1" >
                        
                        <form action="{% url 'register_attempt' %}" method="POST">
                            <h3>{{ form.username.label }}</h3>
                            {{ form.username.errors.as_text|escape }}
                            {{ form.username }}
                            <h5><i>{{ form.username.help_text }}</i></h5>
                            <br/>
                
                            <h3>{{ form.email.label }}</h3>
                            {{ form.email.errors.as_text|escape }}
                            {{ form.email }}
                            <h5><i>{{ form.email.help_text }}</i></h5>
                            <br/>
                
                            <h3>{{ form.first_name.label }}</h3>
                            {{ form.first_name.errors.as_text|escape }}
                            {{ form.first_name }}
                            <br/><br/>
                
                            <h3>{{ form.last_name.label }}</h3>
                            {{ form.last_name.errors.as_text|escape }}
                            {{ form.last_name }}
                            <br/><br/>
                
                            <h3>{{ form.password1.label }}</h3>
                            {{ form.password1.errors.as_text|escape }}
                            {{ form.password1 }}
                
                            <p><input type="submit" value="Sign Up"></p>
                        </form>
                    </div>
                
                    
                     
                    <p> by Creating an accout you agree to our <a class="terms" href="#">User Agreement</a> and acknowledge reading our u
                    <span> <a class="terms" href="#">User Privacy Notice</a>.</span></p> 
                     
                    <button class="create">Create Account</button>
                </Div>
            </div>
            <div class="social">

                <div class="lg"><h1>Login</h1></div>
                <div class="social-buttons">
                    <button class="google"> <img class="ggle" src="https://img.icons8.com/color/48/000000/google-logo.png"/></i>Login with Google</button>
                    <button class="facebook"> <img class="fb" src="https://img.icons8.com/color/48/000000/facebook.png"/>Login with Facebook</button>
                    <button class="Apple"><img class="appl" src="https://img.icons8.com/ios-filled/50/000000/mac-os.png"/>Login with Apple</button>
                </div>
                <form method="post" >
                    {% csrf_token %}
                    <!-- to error: add class "has-danger" -->
                    <div class="lg-email"><h5>or login with Username</h5></div>
                    <div class="login-form">
                        <input id="exampleInputEmail1" name="username" class="login-input" type="text" placeholder="Username"> 
                        <input id="exampleInputPassword1" name="password" class="login-input" type="password" placeholder="Password">
                    
                        <input id="checkbox" type="checkbox">
                        <label class="remember" for="checkbox"> Remember Me</label>
            
                        <a href="{% url 'reset_attempt' %}" class="forget-pass" href="#"> Forgot Password?</a>
    
                        <button type="submit" class="login-btn"> Login</button>
    
                    </div>
                </form>
            </div>
        </div>
    </Section> 
 
</body>
  

</html>