<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/item.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{% static 'images/product_images/logo.png' %}" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/single_product_images/logo.png' %}" type="image/png">

    <title>Add/Delete Products</title>
</head>
<body>

<header>
    <div class="headerGradient">
        {% include 'products/navlinks.html' %}
    </div>
</header>

{% if messages %}
<div class="messages" style="text-align: center;">
    {% for message in messages %}
    <p {% if message.tags %} class="{{ message.tags }}" {% endif %}><strong>{{ message }}</strong></p>
    {% endfor %}
</div>
{% endif %}

<div class="productName">
    <h1>Add a Product</h1>
</div>
<div style="text-align: center;">
    <form action="{% url 'products:add_product' %}" method="POST">
        {% csrf_token %}
        <h3>{{ form.amazon_asin.label }}</h3>
        {{ form.amazon_asin }}
        {{ form.amazon_asin.errors.as_text|escape }}
        <br/><br/>

        <h3>{{ form.ebay_url.label }}</h3>
        {{ form.ebay_url }}
        {{ form.ebay_url.errors.as_text|escape }}

        <p><input type="submit" value="Add Product"></p>
    </form>
</div>
<br/>
<br/>
<div class="productName">
    <h1>Delete Products</h1>
</div>
<table style="margin: 0 auto;">
    {% for product in product_list %}
    <tr>
        <td style="padding: 20px; width: 100px;">ID {{ product.id }}</td>
        <td style="width: 50px;"><a href="{% url 'products:delete_product' product.id %}">
            <i class="fa fa-trash"></i></a></td>
        <td><a href="{% url 'products:product_detail' product.id %}" title="{{ product }}">
            {{ product|truncatechars:60 }}</a></td>
    </tr>
    {% endfor %}
</table>
<footer></footer>
</body>
</html>