{% if likes_list %}
{% for likes in likes_list %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="like_section">
  <h1 id="likes_count" style="text-align: center">Likes: {{ likes.total_likes }}</h1>
  <div style="text-align: center;">
    {% if user.is_authenticated %}
    <a id="{{ likes.id }}"
       style="font-size:80px; color: {% if user_like %} gold {% else %} lightgrey {% endif %};"
       class="like_icon">
      <i class="fa fa-star" aria-hidden="true"></i>
    </a>
    {% else %}
    <p>Login to like this product!</p>
    {% endif %}
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
// AJAX CALL
$('.like_icon').click(function(){
    $.ajax({
             type: "POST",
             url: "{% url 'products:like' %}",
             data: {'likes_id': $(this).attr('id'),
                    'operation':'like_submit',
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
             },
             dataType: "json",
             success: function(response) {
                selector = document.getElementById(response.likes_id);
                    if(response.user_like==true){
                      $(selector).css("color", "gold");
                    }
                    else if(response.user_like==false){
                      $(selector).css("color", "lightgrey");
                    }
                document.getElementById('likes_count').innerHTML = "Likes: " + response.likes_count;
              }
        });
  })

</script>
{% endfor %}
{% endif %}