<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/item.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{% static 'images/product_images/logo.png' %}" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/single_product_images/logo.png' %}" type="image/png">

    <title>{{ product }}</title>

    <style>
        .productImage img{
            width: 443px;
            max-height: 607px;
            object-fit: contain;
        }

    </style>
</head>
<body>

<header>
    <div class="headerGradient">
        {% include 'products/navlinks.html' %}
    </div>
</header>
{% if messages %}
<div class="messages" style="text-align: center;">
    {% for message in messages %}
    <p {% if message.tags %} class="{{ message.tags }}" {% endif %}><strong>{{ message }}</strong></p>
    {% endfor %}
</div>
{% endif %}
<div class="centerGrid">
    <div class="container">
        <div class="productImage">
            <img class="item" src="{{ product.image }}">
            <p>Roll over image to zoom in</p>
            <br/>
            {% include 'products/like_button.html' %}
        </div>


        <div class="description">
            <img class="verticalLine" src="{% static 'images/single_product_images/verticalLine.png' %}">
            <div>
                <div class="productName">
                    <h1>{{ product }}</h1>
                </div>

                <p class="store">Sold on Amazon and Ebay</p>

                <div class="features">
                    <h2 class="price">Amazon: ${{ product.amazon_price }}</h2>
                    <h2 class="price">Ebay: ${{ product.ebay_price }}</h2>

                    <ul>
                        {{ list_lines|unordered_list }}
                    </ul>
                </div>

                <img class="horizontalLine" src="{% static 'images/single_product_images/hortizontalLine.png' %}">

                <form class="amazonButton">
                    <button formaction="{{ product.amazon_url }}">Visit Amazon Site</button>
                    <button formaction="{{ product.ebay_url }}">Visit E-bay Site</button>
                </form>
            </div>
        </div>
    </div>
</div>

<footer>
</footer>

</body>
</html>