<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
    <title>PricedOut</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock css %}
</head>
{% block pattern_div %}
<body>

<header>
    <div class="gradient">
    {% include 'products/navlinks.html' %}
    </div>
</header>
{% endblock pattern_div %}

{% block content %}{% endblock %}

</body>
</html>